:root {
// COLORS
  --background-default: rgb(221, 220, 236);
  --hover-text:rgb(244, 244, 255);
  --background-figure:rgb(40, 40, 80);
  --white-color: rgb(249, 249, 249);
  --primary-button-color: "#0077b6";
  --secondary-button-color: "#0096c7";
  --text-light:rgb(159, 167, 194);
  --text-selected:rgb(20, 20, 20);
}
